<header>

<h1>Mr. WorldWide TV</h1>
<h2>Dale</h2>

<nav>
  <ul>
    <li>Welcome</li>
  </ul>
</nav>
</header>

<main>
  <%= forms_tag  do %>

  <%end%>

  <ul class="video">
    <li>I'm a video</li>
  </ul>
</main>
